<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title></title>
</head>

<body>
    <div id="top">
        <div class="fourths" style="background-color:#ec155b;"></div>
        <div class="fourths" style="background-color:#fc6701;"></div>
        <div class="fourths" style="background-color:#0475b1;"></div>
        <div class="fourths" style="background-color:#0ca47b;"></div>
    </div> 
    
    <h1 id="calloutTwo">Are you sure you want to delete this framework?</h1>
    <form method="post">
        <div id="deleteContainer">
            <input id="submit" type="submit" value="YES">
            <a href="/">NO</a>
        </div>
    </form>
</body>
</html>
